@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Set your brand colors
$brand-blue: #00a0ff;
$brand-hover: #0392e4;
$brand-black: #161637;
$brand-light-blue: #d8effc;
$brand-border: 1px solid #e1e4ed;
$brand-border-light: 1px solid #f2f4fc;
$brand-dark-bg-gray: #f6f8fc;
$brand-gray-text: rgb(162, 161, 161);
// other

$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// Update Bulma's global variables
$family-sans-serif: 'Helvetica', sans-serif;
$heading-font: 'Inter', sans-serif;

@import '~bulma/bulma.sass';

// * General styles

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $brand-black;
  color: $brand-black;
  font-weight: 500;
  font-size: 2em;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
}
h3 {
  font-size: 1.2em;
  font-weight: 700;
}

p {
  color: $brand-black;
}
//* Nav Styles

.logo {
  font-family: $heading-font;
  color: $brand-black;
  font-weight: 700;
  font-size: 2em;
  margin-left: 0.5rem;
}

.nav-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  position: relative;
  z-index: 10;
  border-bottom: $brand-border-light;
}
.sign-in {
  color: $brand-black;
  margin-right: 2rem;
}
.sign-in:hover {
  text-decoration: underline;
}

.get-started-button {
  border-radius: 40px;
  background: $brand-blue;
  color: white;
  padding: 1.5rem 0.8rem;
  border: none;
  margin-top: 0.3rem;
}

.get-started-button:hover {
  background: $brand-hover;
  color: white;
  outline: none;
}

.search-bar {
  width: 250px;
}

.search-button-mobile {
  display: none;
}

// @media screen and (min-width: 500px) {
//   .searchbar-form {
//     display: flex;
//   }
// }

// * link underline effect integrate later

// .box-e .custom-underline::after {
//   top: 65%;
//   height: 2px;
//   width: 0%;
//   left: 5%;
//   background-color: rgba(255, 255, 255, 0.6);
//   transition: 0.5s ease all 0.3s;
// }

// .box-e:hover .custom-underline::after {
//   width: 90%;
//   transition: 0.3s ease all;
// }
// .custom-underline,
// .custom-underline:hover,
// .custom-underline:focus,
// .custom-underline:active {
//   text-decoration: none;
// }

// .custom-underline::after {
//   content: '';
//   position: absolute;
// }

// * dropdown

.dropdown-shape {
  border-radius: 10px;
  // margin-top: 0.8rem;
  z-index: 1000 !important;
  width: 15rem;
}

.circle-space {
  margin-right: 0.5rem;
}

.mobile-user {
  display: flex;
  margin-left: 1rem;
  p {
    margin-top: 0.4rem;
  }
}

// * Home

.home-container {
  width: 70%;
  margin: 0 auto;
}

.home-content-container {
  margin-top: 6rem;
}

.home-cta-box {
  width: 100%;
  margin-top: 4rem;
}

.logos-box-banner {
  background: $brand-light-blue;
  margin-top: 4rem;
  clip-path: url(#wave);
  text-align: center;
  justify-content: center;
  padding: 8rem;
}
.logos-box {
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
}

.logos-box img {
  height: 50px;
  margin-left: 4rem;
}

//* Login

.login-left {
  background: $brand-light-blue;
  min-height: 101.5vh;
  padding: 3rem;
}

.login-logo {
  display: flex;
}

.login-logo img {
  height: 30px;
  margin-top: 0.45rem;
}
.form-container {
  margin-top: 6rem;
}

.login-form-box {
  padding: 6rem;

  // text-align: center;
}

.login-form-form {
  width: 40vh;
  margin: 0 auto;
}

.login-form-form input {
  border-radius: 10px;
}

.form-label {
  text-align: none;
  margin-bottom: 0.5rem;
}

.form-header {
  text-align: center;
}
.form-header p {
  font-weight: 100;
}

.form-button {
  width: 100%;
  background-color: $brand-blue;
  color: white;
  border-radius: 8px;
}
.form-button:hover {
  color: white;
  background-color: $brand-hover;
}

.login-sign-up {
  text-align: center;
  font-size: 0.9em;
  color: rgb(179, 179, 179);
}
.login-sign-up p {
  color: rgb(179, 179, 179);
}

.check-boxes-login {
  text-align: center;
  margin-left: 7vw;
  margin-top: 20vh;

  ul {
    list-style: none;
    text-align: left;
  }
  li {
    margin: 0 auto;
    margin-top: 0.8rem;
    font-size: 0.8em;
    color: rgb(120, 120, 120);
    display: flex;
    align-items: right;
    width: 100%;
    text-align: right;
  }
}

.check-icon {
  margin-right: 10px;
  margin-left: 10px;
  color: $brand-blue;
}

// * Dashboard

.dash-col {
  max-height: 100vh;
  border-right: $brand-border;
  position: sticky;
  top: 0;
}

.profile-col {
  // height: 80vh;
  border: $brand-border-light;
  background: white;
  border-radius: 20px;
  padding: 1rem;
}

.dash-logo-box {
  padding: 2rem;
  margin-bottom: 4rem;
  margin-left: 0.73rem;
}

.dash-nav-item {
  height: 5vh;
  padding: 1rem;
  padding-left: 2rem;
  text-align: left;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  margin-bottom: 2rem;
  color: rgb(184, 184, 184);
  margin-left: 0.73rem;
}
.dash-nav-item:hover {
  // background: $brand-dark-bg-gray;
  cursor: pointer;
  border-right: 5px solid $brand-blue;
  color: $brand-blue;
}

.dash-nav-item p {
  font-weight: 700;
  color: rgb(162, 161, 161);
}

.dash-nav-item:hover p {
  color: $brand-black;
}

.nav-icon {
  margin-right: 3rem;
  margin-top: -0.3rem;
}

.dash-nav-but {
  display: none;
}
.dash-content {
  background: $brand-dark-bg-gray;
  padding: 4rem;
  min-height: 101vh;
}

// * Change details

.change-form {
  width: 95%;
  margin: 0 auto;
}

.change-form input {
  border-radius: 10px;
}

.change-card {
  background: white;
  border: $brand-border-light;
  border-radius: 20px;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.01); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.01); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.01); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.profile-image {
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.profile-image img {
  width: 50%;
  height: 50%;
  border-radius: 150px;
  border: $brand-border;
}

.change-image {
  text-align: center;
  font-weight: 100;
  margin-top: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}

.username-text {
  font-size: 0.8em;
}

.member-since {
  font-size: 0.8em;
}
.member-since p {
  color: $brand-gray-text;
}

.upload-form input {
  border-radius: 10px;
}

.user-email P {
  color: $brand-gray-text;
}
.profile-info {
  margin-top: 3vh;
}
.change-details-box {
  background: white;
  border-radius: 10px;
  padding: 3rem;
}

// * Saved properties

.saved-property-card {
  background: white;
  border: $brand-border-light;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.01); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.01); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 1px 3px rgba(255, 255, 255, 0.01); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.saved-property-card:hover {
  border: 1px $brand-blue solid;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1px 3px $brand-light-blue; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 1px 3px $brand-light-blue; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 1px 3px $brand-light-blue; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.saved-property-card img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}

.saved-property-card h2 {
  font-size: 1.3em;
}
.saved-property-card p {
  color: $brand-gray-text;
}
.saved-location {
  display: flex;
}
.saved-location-icon {
  margin-top: 0.5rem;
  margin-right: 0.3rem;
}
.saved-location-sidebar-icon {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

.saved-location-sidebar-icon:hover {
  opacity: 1;
}
.saved-location-icon-card {
  margin-top: 1rem;
  margin-right: 0.7rem;
}

.saved-icons {
  display: flex;
}

.saved-icons-container {
  width: 60%;
}

// * sidebar ::content

.sidebar-form {
  width: 80%;
  margin: 0 auto;
}

.sidebar-form input,
textarea {
  border-radius: 10px;
}
.side-bar-container {
  transition: 4s ease all;
}

.note-list {
  text-align: center;
  list-style: none;
}
.note-list ul {
  list-style: none;
}
.note-item {
  list-style: none;
  padding: 1rem;
  border: $brand-border-light;
}

.note-item:hover {
  background-color: $brand-dark-bg-gray;
}

.form-header h3 {
  font-size: 1em;
  text-decoration: underline;
}

::-webkit-file-upload-button {
  /* chrome and edge */
  display: inline-block;
  margin: 0rem 1rem 0rem 0rem;
  padding: 0.5em 0.5em;
  padding: 0.19rem 0.5rem;
  -webkit-appearance: button;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(215, 214, 214);

  background: none;
  white-space: nowrap;
  cursor: pointer;
}

//// * side

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: white; /* Black*/
  border-left: $brand-border;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

//* Index .profile-image

.card-box {
  width: 90%;
  margin: 0 auto;
}

.card-container {
  margin-top: 3rem;
  padding: 1rem;
}

.load-more-box {
  margin: 0 auto;

  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.load-button {
  border-radius: 10px;
  padding: 1.5rem 1rem;
}

//* Index

.index-search-container {
  max-height: 10vh;

  padding: 1rem;
  border-bottom: $brand-border-light;

  z-index: 5;
  position: relative;
}
.index-search-content {
  width: 80%;
  margin: 0 auto;
}

.index-search-box {
  border-radius: 15px;
  padding: 1rem 2rem;
}

//* Detail page

.detail-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}

.back-button {
  margin-bottom: 1rem;
  text-decoration: underline 1px solid $brand-blue;
  cursor: pointer;
}

.analytics-form {
  width: 100%;
  margin: 0 auto;
}

.analytics-form input {
  border-radius: 10px;
}

.calculations {
  margin-top: 0.2rem;
}
.calculations b {
  color: #161637;
}

.powered-box {
  margin-top: 5rem;
  border: $brand-border-light;
  height: 20vh;
  border-radius: 20px;
  padding: 3rem;
  text-align: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
  .logos-box {
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  footer {
    display: none;
    opacity: 0;
  }
  .logos-box {
    padding: none;
    img {
      height: none;
      margin: 0;
    }
  }
  .sidebar {
    z-index: 1000;
  }
  .dash-logo-box {
    margin-bottom: 1rem;
  }
  .mobile-user {
    display: flex;
    margin-left: 1rem;
    p {
      margin-top: 0.4rem;
    }
  }

  .search-button-mobile {
    display: flex;
  }

  .navbar-brand {
    margin: 0 auto;
  }

  .nav-button-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: 0 auto;
    display: flex;
    padding-bottom: 1rem;
  }

  .get-started-button {
    margin: 0 auto;
  }
  .navbar-menu {
    border-radius: 20px;
  }
  .dash-nav-box {
    position: none;
    background: white;
    z-index: 1000;
  }
  .dash-col {
    position: none;
    background: white;
    z-index: 1000;
    height: none;
  }
  .dash-nav-but {
    display: inline-flex;
    width: 80%;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
  }
  .login-form-form {
    width: 100%;
    margin: 0 auto;
  }
}

//* footer

footer {
  border-top: 1px solid rgb(228, 228, 228);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  display: flex;
}

.footer-content p {
  margin-right: 1rem;
  font-size: 0.9em;
}

.copyright {
  font-size: 0.9em;
}

// Properties

.map-container {
  height: calc(100vh - 52px);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.card-property-details {
  display: flex;
  justify-content: space-between;
}

.property-details {
  display: flex;
}

.property-details-spread {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.property-icon {
  margin-right: 10px;
  margin-left: 10px;
}

hr {
  margin: 0.5rem 0;
}

.card-image {
  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
  }
}

.card-content {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  min-height: 25vh;

  margin-top: -2rem;
  width: 90%;
  background: white;
  border-radius: 1rem;
  border: 3px solid rgba(53, 53, 53, 0);
  -webkit-box-shadow: 0px 5px 10px 5px rgba(53, 53, 53, 0.119); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 5px 1px 5px rgba(53, 53, 53, 0.119); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 5px 10px 5px rgba(53, 53, 53, 0.119); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.card-content:last-child {
  border-radius: 1rem;
}

.card-content:hover {
  border: 3px solid $brand-blue;
}

img.property-detail {
  width: 100%;
}
// .card {
// }

.property-detail-view {
  padding-left: 20px;
  padding-right: 20px;
}

.heart-hide {
  display: none;
}

.applications {
  background-color: white;
  padding: 20px;
  margin: 0;
  border-radius: 15px;
}
